@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: 'Nunito';
}
body{
	text-align: center;
	color: #262626;
	background: url(img/fondo.jpg);
	background-size: cover;
}
h1{
	color: white;
	padding: 25px;
}
.container{
	background-color: #FFC562;
	max-width: 400px;
	margin: auto;
	border: 1px solid #000;
	border-radius: 5px;
	display: flex;
	padding: 25px 0;
}
.izquierdo{
	width: 35%;
	font-size: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.derecha{
	width: 15%;
}
.msj{
	font-size: 10px;
	height: 25px;
}
.derecha{
	display: flex;
	flex-direction: column;
	margin-left: 75px;
	justify-content: center;
}
.opcion{
	width: 100px;
	height: 50px;
	border: 2.5px solid  #000;
	font-size: 25px;
	margin-bottom: 10px;
	border-radius: 175%;
	cursor: pointer;
	background-color: #000;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.opcion:hover{
	background-color: #262626;
}
p{
	font-size: 25%;
}
#Timer{
	width:125px;
	height:25px;
	background:#39F;
	margin:5px;
	float:left;
	color:black
	
}